ACCESS_TOKEN_EXPIRY=30d
ACCESS_TOKEN_SECRET=6IdSAKPjLcdedKrJX4T2TdzDIraQW0igEO37UdlemZd9vhziat
EMAIL_SEND_KEY=re_dsJswrp5_HjXXMnTpMLnF7i7brtyGFDZZ
MONGODB_URL=mongodb+srv://yousafawais987_db_user:parkingpass@cluster0.wpxzmuc.mongodb.net/parking?appName=Cluster0
PORT=2003
CLOUDINARY_CLOUD_NAME=dgtsnnsm0
CLOUDINARY_API_KEY=592199541339173
CLOUDINARY_API_SECRET=n39FlGjIL-5v96D-GMDkyND8B2Q

